[submodule "models\\CENet\\submodule"]
	path = models\\CENet\\submodule
	url = https://github.com/shampooma/Image_segmentation_framework.git
[submodule "models\\segmenter\\submodule"]
	path = models\\segmenter\\submodule
	url = https://github.com/shampooma/segmenter.git
